/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding: 0;
}


.div-head{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #242323; 
  height: 50px;

}

.div-head ul{
  display: flex;
  overflow: hidden;
  list-style: none;

}

.div-menu{
  width: 50%;
  position: relative;
  right: 150px;
}


.div-head ul li a{
  font-family: 'LuzSans-Book';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #ffff;
text-decoration: none;
padding: 15px;
}



.div-btn button{
  width: 100px;
  height: 30px;
  background-color: #F56451;
  box-shadow:  0px 0px 13px 2px #F56451;
  border: none;
  border-radius:5px ;
}

.div-btn button a {
  color: white;
  text-decoration: none;
}

.div-body{
  display: flex;
}

.div-bac{
  background-image: url(./images/office.jpg);
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.div-register{
  background-color: #F56451;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.div-bac h1{
  font-family: 'LuzSans-Book';
font-style: normal;
font-weight: 500;
font-size: 144px;
line-height: 173px;
color: #FFFFFF;
position: absolute;
top: 100px;
}

.div-register h1{
  font-family: 'LuzSans-Book';
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 173px;
  color: #FFFFFF;
    position: absolute;
  top: 100px;
}


.div-bac h3{
   font-family: 'DINPro';
   font-style: normal;
   font-weight: 500;
   font-size: 64px;
   line-height: 82px;
   color: #FFFFFF;
   position: absolute;
   top: 300px;
}


.icon-play{
  color: #F56451;
  font-size: 40px;
}


.icon-times{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top:70px;
  right: 150px;
}

.icon-faTimes{
  color: #ffff;
  font-size:50px;
}


.div-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 260px;
}



.div-text h2{
  color: #323433;
  font-size: 70px;
}

.div-register h2{
  font-family: 'LuzSans-Book';
  font-style: normal;
  font-size: 80px;
  line-height: 95px;
  color:#323433;
  position: absolute;
  font-weight: 500;
  top: 260px;
}

.div-register img{
  width: 107.6px;
  height: 154.13px;
}

.div-ear{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  position: relative;
  top: 300px;
  right: 50px;
}


.div-background{
  background: #4A4A4A;
  height: auto;
  width: 100%;
  padding-top: 50px;
}


.div-macbook{
  background-image: url(./images/MacBook\ Pro7_logo\ 1.png);
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-macbook h1{
  font-family: 'DINPro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
text-align: center;
text-transform: uppercase;
color: #ffffff;
}

.div-macbook p{
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.div-icon-one{
  background-image: url(./images/Rectangle\ 24.png);
  height: 150px;
  width: 150px;
  background-size: cover;
  margin:auto;
}

.div-icon-two{
  background-image: url(./images/Rectangle\ 23.png);
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-icon-three{
  background-image: url(./images/Rectangle\ 22.png) ;
  height: 92px;
  width: 92px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-icon-for {
  background-image: url(./images/Rectangle\ 26.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  position: relative;
  margin: auto;
}

.img-svg{
  margin: auto;
  width: 30px;
  padding: 30px;
}


.div-icon-five{
  background-image: url(./images/Rectangle\ 24.png);
  height: 150px;
  width: 150px;
  background-size: cover;
  margin:auto 250px; 
}

.div-icon-five h1{
font-family: 'DINPro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #ffffff;
padding-top: 40px;
}

.div-icon-six{
  background-image: url(./images/Rectangle\ 23.png);
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-icon-seven{
  background-image: url(./images/Rectangle\ 22.png) ;
  height: 92px;
  width: 92px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-icon-eit{
  background-image: url(./images/Rectangle\ 26.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  position: relative;
  margin: auto;
}


.div-ic-one{
  background-image: url(./images/Rectangle\ 24.png);
  height: 150px;
  width: 150px;
  background-size: cover;
  position: relative;
  bottom: 155px;
  margin: auto;
  margin-right: 250px;
}

.div-ic-one h1{
  font-family: 'DINPro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #ffffff;
padding-top: 40px;
}

.div-ic-two{
  background-image: url(./images/Rectangle\ 23.png);
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-ic-three{
  background-image: url(./images/Rectangle\ 22.png) ;
  height: 92px;
  width: 92px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-ic-for{
  background-image: url(./images/Rectangle\ 26.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  position: relative;
  margin: auto;
}

.div-ic-five{
  background-image: url(./images/Rectangle\ 24.png);
  height: 150px;
  width: 150px;
  background-size: cover;
  position: relative;
  bottom: 140px;
  margin: auto;
  margin-right: 250px;
  
}

.div-ic-six{
  background-image: url(./images/Rectangle\ 23.png);
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}


.div-ic-seven{
  background-image: url(./images/Rectangle\ 22.png) ;
  height: 92px;
  width: 92px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-ic-eit{
  background-image: url(./images/Rectangle\ 26.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  position: relative;
  margin: auto;
}


.div-ic-five-cloune{
  background-image: url(./images/Rectangle\ 24.png);
  height: 150px;
  width: 150px;
  background-size: cover;
  margin-left: auto;
  position: relative;
  top: 150px;
  right: 50px;
}

.div-ic-five-cloune h1{
  font-family: 'DINPro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
color: #ffffff;
padding-top: 35px;
}

.div-ic-six-cloune{
  background-image: url(./images/Rectangle\ 23.png);
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-ic-seven-cloune{
  background-image: url(./images/Rectangle\ 22.png) ;
  height: 92px;
  width: 92px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}

.div-ic-eit-cloune{
  background-image: url(./images/Rectangle\ 26.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  position: relative;
  margin: auto;
}

.div-icon-five-cloune{
  background-image: url(./images/Rectangle\ 24.png);
  height: 150px;
  width: 150px;
  background-size: cover;
  margin:auto 100px; 
}

.div-icon-five-cloune h1{
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
  }
  

.div-icon-six-cloune{
  background-image: url(./images/Rectangle\ 23.png);
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}


.div-icon-seven-cloune{
  background-image: url(./images/Rectangle\ 22.png) ;
  height: 92px;
  width: 92px;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 15px;
}


.div-icon-eit-cloune{
  background-image: url(./images/Rectangle\ 26.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  position: relative;
  margin: auto;
}


.people-data{
  height: 1440px;
  margin-left: 150px;
}

.people-Data-Div{
  display: flex;
}

.data-div{
  width: 50%;
}



.data-h1,
.data-p{
  color:#567365;
  font-family: 'DINPro';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 82px;
text-transform: capitalize;
}


.data-lorem{
  width: 50%;
}

.data-lorem p{
  color: rgba(50, 52, 51, 0.8);
}

.data-icon{
  display: flex;
  margin:30px 0;
  width: 80%;
}

.data-icon div{
  margin: auto 10px;
}

.people-img{
  background-image: url(./images/people-job-teamwork-cooperation-concept-two-professional-engineers-colleagues-sitting-desk-with-blueprints-computer-engineering-tools-discussing-plans-ideas-having-serious-looks\ 1\ \(1\).png);
  height: 350px;
  width: 40%;
  background-size: cover;
  background-position: center;
}

.div-head-onb{
  display: flex;
}


.div-onboarding{
  display: flex;
  width: 100%;
  margin: 150px auto;
}

.div-img-svg{
   position: relative;
   left: 40%;
   bottom: 77px;
}

.div-img-svg img{
  position:absolute;
}


.onboarding-img{
  background-image: url(./images/asian-businessmen-businesswomen-meeting-brainstorming-ideas-about-creative-web-design-planning-application-developing-template-layout-mobile-phone-project-working-together-small-office\ 2.png);
  height: 400px;
  width: 70%;
  background-position: center;
  background-size: cover;
}

.text-onb{
  position: relative;
  right: 150px;
  width: 25%;
  top: 125px;
}

.text-onb p{
  padding-top: 30px;
}

.div {
  position: relative;
}

.div img{
  margin-top: 30px;
  position: absolute;
}

.p{
  margin-top: 30px;
  position: relative;
}

.div p{
  
font-family: 'DINPro';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
text-transform: capitalize;
position: absolute;
color: #53815E;
top: 45px;
}


.text-onb h1{
  font-family: 'DINPro';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 82px;
text-transform: capitalize;
color: #567365;
}




























@media (max-width:1300px){
  .div-menu{
    width: 50%;
    position: relative;
    right: 120px;
  }

  .div-bac h1{
    font-size: 110px;
  }

  .div-register h1{
    font-size: 110px;
  }
} 


@media (max-width:1100px){
  .div-menu{
    position: relative;
    right: 80px;
  }
} 

@media (max-width:940px){
  .div-menu{
    position: relative;
    right: 50px;
    padding: 10px;
  }

  .div-menu ul li a{
 

    font-size: 15px;
    line-height: 26px;
    color: #ffff;
    text-decoration: none;
    padding: 10px;
  }
  .div-images img{
    width: 70px;
  }
  .div-bac h1{
    font-size: 90px;
  }
  .div-register h1{
    font-size: 90px;
  }

  .div-bac h3{
    font-size: 50px;
  }

} 

@media (max-width:770px){
  .div-menu{
    position: relative;
    padding: 15px;
    left: 7px;
  }

  .div-menu ul li a{
    font-size: 15px;
    color: #ffff;
    text-decoration: none;
    padding: 8px;
  }
  .div-images img{
    width: 50px;
  }
  .div-bac h1{
    font-size: 55px;
  }
  .div-btn button{
    width: 80px;
    height: 25px;
  }

  .div-register h1{
    font-size: 55px;
  }

  .div-bac h3{
    position: relative;
    bottom: 40px;
    font-size: 30px;
  }

  .div-bac h3 .icon-play{
    font-size: 20px;
  }


} 
